<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset="UTF-8" />
<title>$!{webName} $!{pageTitle} </title>
<!--                       CSS                       -->
<!-- Reset Stylesheet -->
<link rel="stylesheet" href="$!{templatepath}/css/reset.css" type="text/css" media="screen" />
<!-- Main Stylesheet -->
<link rel="stylesheet" href="$!{templatepath}/css/style.css" type="text/css" media="screen" />
<!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
<link rel="stylesheet" href="$!{templatepath}/css/invalid.css" type="text/css" media="screen" />
<!--                       Javascripts                       -->
<!-- jQuery -->
<script type="text/javascript" src="$!{templatepath}/scripts/jquery-1.3.2.min.js"></script>
<!-- jQuery Configuration -->
<script type="text/javascript" src="$!{templatepath}/scripts/simpla.jquery.configuration.js"></script>
<!-- Facebox jQuery Plugin -->
<script type="text/javascript" src="$!{templatepath}/scripts/facebox.js"></script>
<!-- jQuery WYSIWYG Plugin -->
<script type="text/javascript" src="$!{templatepath}/scripts/jquery.wysiwyg.js"></script>


<script type="text/javascript" src="$!{templatepath}/scripts/ajax/ajaxUser.js"></script>

</head>
<body id="login">
<div id="login-wrapper" class="png_bg">
  <div id="login-top">
    <h1>四川省人民医院·健康体检中心</h1>
    <!-- Logo (221px width) -->
    <a style="font-size:28px; font-family:微软雅黑;" href="#">四川省人民医院·健康体检中心</a> </div>
  <!-- End #logn-top -->
  <div id="login-content">
      <div class="notification information png_bg">
        <div id="UserLoginTips"> &nbsp; </div>
      </div>
      <p>
        <label>用户名</label>
        <input class="text-input" name="UserLoginName" id="UserLoginName" type="text" />
      </p>
      <div class="clear"></div>
      <p>
        <label>密码</label>
        <input class="text-input" name="UserPassword" id="UserPassword" type="password" />
      </p>
      <div class="clear"></div>
      <p style=" display:none;">
        <label>验证码</label>
        <input class="text-input" name="VerifyCode" id="VerifyCode" type="text" />
      </p>
      <div class="clear"></div>
      <p>
        <input class="button" type="submit" onclick="UserLoginAjax();" value="Sign In" />
      </p>
  </div>
  <!-- End #login-content -->
</div>
<!-- End #login-wrapper -->
</body>
</html>
