<configuration>
  <!--
  /======基本设置，微博，日志，新闻的配置文件=====
  特别注意，如果更改了本文件的参数，前台不生效，请重新启动IIS即可。
  运行里运行CMD -> iisreset
  如果不重新启动，需要10～30分钟生效
  /==================================
  -->
  <!--网站域名-->
  <webName>fyh.com</webName>
  <!--网站名称-->
  <SiteName>四川省人民医院·健康体检中心</SiteName>
  <!--域名，不带HTTP-->
  <Domain>www.fyh.com</Domain>
  <!--报告领取天数间隔-->
  <ReportReceipteDays>8</ReportReceipteDays>
  <!--站点关键字-->
  <keywords></keywords>
  <!--站点描述-->
  <description></description>
  <!--版权-->
  <VersionInfo>2.0.1</VersionInfo>
  <SystemName>四川省人民医院健康体检系统</SystemName>
  <copyright>四川省人民医院健康体检中心</copyright>
  <BottomInfo>版权保留 Copyright ?2013 健康管理中心 中国·成都</BottomInfo>
  <!--logo-->
  <logo>FYH_logo</logo>
  <!--皮肤模板目录-->
  <SkinStyle>green</SkinStyle>
  <!--Cookie跨域的域名。-->
  <CookieDomain></CookieDomain>
  <!--菜单模板编号-->
  <MenuModuleType>2</MenuModuleType>
  <!--Cookies验证码，用户防止Cookies欺骗。请输入10位数字或字母的随机组合，请不要用非法字符。建议数字和字母结合-->
  <CookieVerifyCode>1234567890</CookieVerifyCode>
  <!--系统是否生成错误日志,0否，1是-->
  <errorlogs>0</errorlogs>
  <!--IP开放段,多个用|分开,格式如：192.168.1.110|212.235.*.*|232.*.*.*，如果设置了开放段，则限制段不再起作用-->
  <AllowIPs></AllowIPs>
  <!--IP限制段,多个用|分开,格式如：192.168.1.110|212.235.*.*|232.*.*.*,当IP开放段为空的情况下，改配置起作用-->
  <LimitIPs></LimitIPs>
  <!--体检号生成规则配置 CurValue:为当前体检号 DefaultHeaderCode:为默认头部编码[默认为：11，格式为11290620130006：默认编码+ddMMyyyy+4为流水号] Begin
  BeginIP:开始IP，EndIP结束IP，用于标识不同部门生成的体检号
  -->
  <CustomerNum GUID="1111" BeginIP="111.0.0.0" EndIP="111.255.255.255" DefaultHeaderCode="1" DefaultName="1111" CurCustomerNum="13102920130100" CurSubScribNum="16102920130100" CurTeamSubScribNum="" CurInternatSubScribNum=""></CustomerNum>
  <CustomerNum GUID="2222" BeginIP="192.192.124.1" EndIP="192.192.124.255" DefaultHeaderCode="2" DefaultName="二部" CurCustomerNum="23050920160008" CurSubScribNum="26050920160026" CurTeamSubScribNum="29050920160007" CurInternatSubScribNum=""></CustomerNum>
  <CustomerNum GUID="3333" BeginIP="192.168.0.0" EndIP="192.168.255.255" DefaultHeaderCode="3" DefaultName="3333" CurCustomerNum="" CurSubScribNum="36022120170001" CurTeamSubScribNum="" CurInternatSubScribNum=""></CustomerNum>
  <CustomerNum GUID="4444" BeginIP="192.125.0.0" EndIP="192.125.255.255" DefaultHeaderCode="5" DefaultName="4444" CurCustomerNum="" CurSubScribNum="" CurTeamSubScribNum="" CurInternatSubScribNum=""></CustomerNum>
  <!--通过IP无法获取配置信息，则使用缺损值-->
  <LostCustomerNum DefaultHeaderCode="1" DefaultIp="192.170.1.2" DefaultName="服务器" CurCustomerNum="13050920160054" CurSubScribNum="16022120170006" CurTeamSubScribNum="19050920160005" CurInternatSubScribNum="15102120140004"></LostCustomerNum>
  <!--个人预约默认标识 Begin-->
  <DefaultCurCustomerNum>3</DefaultCurCustomerNum>
  <!--个人预约默认标识 End-->
  <!--个人登记默认标识 Begin-->
  <DefaultCurSubScribNum>6</DefaultCurSubScribNum>
  <!--个人登记默认标识 End-->
  <!--团体登记默认标识 Begin-->
  <DefaultCurTeamSubScribNum>9</DefaultCurTeamSubScribNum>
  <!--团体登记默认标识 End-->
  <!--个人预约最大预约数量 Begin-->
  <DefaultMaxCustomerNum>120</DefaultMaxCustomerNum>
  <!--个人预约最大预约数量 End-->
  <!--个人登记最大登记数量 Begin-->
  <DefaultMaxSubScribNum>300</DefaultMaxSubScribNum>
  <!--个人登记最大登记数量 End-->
  <!--团体登记最大登记数量 Begin-->
  <DefaultMaxTeamSubScribNum>9999</DefaultMaxTeamSubScribNum>
  <!--团体登记最大登记数量 End-->
  <!--体检号生成规则配置 End-->
  <!--当前申请号 规则：0+6位日期+6位流水号+505 Begin-->
  <ApplyID CurApplyIDNum="0170221000118505"></ApplyID>
  <!--报告超时通知领取天数,主要用于报告通知功能检索超过指定天数的已打印报告 Begin-->
  <ReportOutDays>7</ReportOutDays>
  <!--报告超时通知领取天数,主要用于报告通知功能检索超过指定天数的已打印报告 End-->
  <!--当前申请号 规则：0+6位日期+6位流水号+505 End-->
  <!--登录页面皮肤模版库文件夹 为空表示使用默认模版 -->
  <LoginSkin>LoginSkin/Skin04</LoginSkin>
  <!--
  科室打印标签配置， 
  
  科室ID|被打印科室ID|同时打印本科室|模版名称
  1|2|True|templete01.frx；5|6|False|templete02.frx；7|8|False|templete03.frx；
  如：
  207|301|True|SectionNoBarCode.frx ：妇科打印病理科的标签   (是否打印由Is_PrintBarCode字段控制)
  
  -->
  <SectionTagPrintRel>207|301|True|SectionNoBarCode.frx；411|411|False|SectionBarCodeX_B.frx；406|406|False|SectionBarCodeX_B.frx；401|401|False|SectionBarCodeX_B.frx；445|445|False|NoBarCodeOfC13.frx；440|440|False|SectionBarCodeX_B.frx；522|522|False|SectionNoBarCode.frx；417|417|False|SectionBarCodeX_B.frx；432|432|False|SectionBarCodeX_B.frx；</SectionTagPrintRel>
  <!-- 设置是否多个地址存放图像 -->
  <IsFileUploadMulitUrl>True</IsFileUploadMulitUrl>
  <!-- 1、如果是多个地址存放：格式如下： 年份|图像服务器地址；年份|图像服务器地址；年份|图像服务器地址； -->
  <!-- 2、如果是一个地址存放：格式如下： 图像服务器地址 -->
  <ImageFileUploadUrl>2013|http://192.170.1.2:8080；2014|http://192.170.1.2:8080；2015|http://192.170.1.2:8080；2016|http://192.170.1.2:8080；2017|http://192.170.1.2:8080；2018|http://192.170.1.2:8080；2019|http://192.170.1.2:8080；2020|http://192.170.1.2:8080；2021|http://192.170.1.2:8080；2022|http://192.170.1.2:8080；2023|http://192.170.1.2:8080；2024|http://192.170.1.2:8080；2025|http://192.170.1.2:8080；</ImageFileUploadUrl>
  <!-- 设置采集卡采集图像涉及到的科室 多个用|分割404|411|430|450-->
  <VideoCaptureSection></VideoCaptureSection>
  <!-- 设置Com口数据读取涉及到的科室 多个用|分割 201 -->
  <ComReadSection>201</ComReadSection>
  <!--是否验证预约人数限制-->
  <IsCheckSubScrib>0</IsCheckSubScrib>
  <!-- 病症级别提示开始值 及 各个等级对应颜色值 1:蓝色 2:黄色 3:橙 4:红色 严重程度依次表示 一般，较重，严重，特别严重   -->
  <!--颜色值已经修改，该为样式控制，样式名称后面加数字，对应相应的病症级别，这里只用到 提示开始值-->
  <DiseaseLevelWarning>999|1:Blue|2:Yellow|3:Orange|4:Red</DiseaseLevelWarning>
  <!-- 是否开启数据加密 1：加密 0：不加密 -->
  <IsDataEncryption>1</IsDataEncryption>
  <!--报告打印模板配置-->
  <ExamReport>ExamReport_Category_V1.1.8_Male_NoColorX.frx</ExamReport>
  <!--报告预览模板配置-->
  <ExamPreviewReport>ExamReport_Category_V1.1.8_Male_NoColorX.frx</ExamPreviewReport>
  <!--发送接口类型-->
  <SendToInterfaceType>LAB|PACS|IFYH</SendToInterfaceType>
  <!-- 设置图像列表涉及到的科室 多个用|分割440-->
  <VideoImagesListSection>440</VideoImagesListSection>
  <!--网上预约默认标识 xmhuang20140823 Begin-->
  <DefaultCurInternatSubScribNum>5</DefaultCurInternatSubScribNum>
  <!--网上预约默认标识 xmhuang20140823 End-->
  <!--网上预约最大登记数量 xmhuang20140823 Begin-->
  <DefaultMaxInternatSubScribNum>50000</DefaultMaxInternatSubScribNum>
  <!--网上预约最大登记数量 xmhuang20140823 End-->
  <!--体检类型使用报告模板配置,如果在使用彩色报告配置中找不到配置则使用默认配置，即从节点ExamPreviewReport和ExamPreviewReport中获取报告模板-->
  <UseColorPrintPaperExamType>ALL</UseColorPrintPaperExamType>
  <MaleColorReport>ExamReport_Category_V1.1.8_Male_NoLisBorderX.frx</MaleColorReport>
  <MaleColorPreviewReport>ExamReport_Category_V1.1.8_Male_NoLisBorderX.frx</MaleColorPreviewReport>
  <FeMaleColorReport>ExamReport_Category_V1.1.8_FeMale_NoLisBorderX.frx</FeMaleColorReport>
  <FeMaleColorPreviewReport>ExamReport_Category_V1.1.8_FeMale_NoLisBorderX.frx</FeMaleColorPreviewReport>
  <!--体检类型使用报告模板配置,如果在使用彩色报告配置中找不到配置则使用默认配置，即从节点ExamPreviewReport和ExamPreviewReport中获取报告模板-->
  <!--封面打印报告模板配置-->
  <DefaultCoverReport>ExamReport_DefaultCover_V1.1.8_Male_NoColorX.frx</DefaultCoverReport>
  <MaleCoverReport>ExamReport_Cover_V1.1.8_Male_NoLisBorderX.frx</MaleCoverReport>
  <FeMaleCoverReport>ExamReport_Cover_V1.1.8_FeMale_NoLisBorderX.frx</FeMaleCoverReport>
  <!--封面打印报告模板配置-->
  <!--自定义报告参数配置 Begin-->
  <!--是否启用自定义报告设置-->
  <IsUseCustReport>1</IsUseCustReport>
  <!--自定义报告打印默认模板配置-->
  <CustExamReport>ExamReport_Category_V1.1.9_Male_NoColorX_CustCOMMON.frx</CustExamReport>
  <!--自定义报告预览默认模板配置-->
  <CustExamPreviewReport>ExamReport_Category_Preview_V1.1.9_Male_NoColorX_CustCOMMON.frx</CustExamPreviewReport>
  <!--男性VIP自定义报告打印模板配置-->
  <CustMaleColorReport>ExamReport_Category_V1.1.9_Male_NoLisBorderX_CustVIP.frx</CustMaleColorReport>
  <!--男性VIP自定义报告预览模板配置-->
  <CustMaleColorPreviewReport>ExamReport_Category_Preview_V1.1.9_Male_NoLisBorderX_CustVIP.frx</CustMaleColorPreviewReport>
  <!--女性VIP自定义报告打印模板配置-->
  <CustFeMaleColorReport>ExamReport_Category_V1.1.9_FeMale_NoLisBorderX_CustVIP.frx</CustFeMaleColorReport>
  <!--女性VIP自定义报告预览模板配置-->
  <CustFeMaleColorPreviewReport>ExamReport_Category_Preview_V1.1.9_FeMale_NoLisBorderX_CustVIP.frx</CustFeMaleColorPreviewReport>
  <!--封面打印报告模板配置-->
  <CustDefaultCoverReport>ExamReport_DefaultCover_V1.1.8_Male_NoColorX.frx</CustDefaultCoverReport>
  <CustMaleCoverReport>ExamReport_Cover_V1.1.8_Male_NoLisBorderX.frx</CustMaleCoverReport>
  <CustFeMaleCoverReport>ExamReport_Cover_V1.1.8_FeMale_NoLisBorderX.frx</CustFeMaleCoverReport>
  <!--自定义报告参数配置 End-->
</configuration>